<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wusir.wuweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wusir.player.VideoActivity"/>
        <activity android:name="com.wusir.player.Video2Activity" />
        <activity android:name=".GameRankActivity" />
        <activity android:name=".TestDouBanActivity" />
        <activity android:name=".CheckCodeActivity" />
        <activity android:name=".QRcodeActivity" />
        <activity android:name=".PhotoViewActivity" />
        <activity android:name=".TestWebViewActivity" />
        <activity android:name=".TestServiceActivity" />
        <activity android:name=".TestRetrofitActivity" />
        <activity android:name=".RichEditActivity" />

        <service android:name="com.wusir.service.ForegroundService" />
        <service android:name="com.wusir.service.BackgroundService" />
        <service android:name="com.wusir.service.RemoteService" />
        <service android:name="com.wusir.service.KeepProcessAliveService" />
        <service android:name="com.wusir.service.IntentServiceDemo" />

        <activity android:name=".ConstraintDemoActivity"></activity>
        <receiver android:name="com.wusir.broadcast.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.wusir.wuweather1"></action>
                <action android:name="com.wusir.wuweather2"></action>
                <action android:name="com.wusir.wuweather3"></action>
                <action android:name="com.wusir.wuweatherX"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>